.NTboxMain{
    position: absolute;
    top:49rem;
    font-size: 25px;
    width: 95%;
    /* text-decoration: underline; */
    background-color: blanchedalmond;
    border: 1px solid black;
}
.jasddjkabmgh{
    position: relative;
    left: 2rem;
}